# Node / backend
node_modules/
npm-debug.log
.env
.DS_Store

# React / frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.DS_Store
frontend/.vite

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Optional editor configs
.vscode/
.idea/
